.camera-container {
    position: relative;
    height: 100vh;
    display: flex;
    background-color: var(--theme-surface);
    overflow: hidden;

    h1 {
        color: var(--theme-on-surface);
    }
    .camera-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
    }

    .camera-wrapper::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 180px 20px rgba(0, 0, 0, 0.9) inset;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .action-area {
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
    }

    :global(.capture-btn) {
        color: var(--theme-on-primary);
        background-color: var(--theme-on-primary);
        border-color: transparent;
        height: 4rem;
        width: 4rem;
        box-sizing: border-box;
    }

    canvas {
        display: none;
    }
}
