.camera-container {
    position: relative;
    height: 100vh;
    display: flex;

    h1 {
        color: var(--theme-on-primary);
    }
    .camera-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
    }
    .action-area {
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
    }

    :global(.capture-btn) {
        color: var(--theme-on-primary);
        background-color: var(--theme-primary);
        border-color: transparent;
        height: 100px;
    }

    canvas {
        display: none;
    }
}
