@import 'themes.scss';
@import 'fonts.scss';

:root {
    --grey: #F6F1F1:var(--grey);
    --black: #000000;
    --grey-text-color: #333333;
    --error-text-color: darkred;
  }
  
  body {
    background-color: #f8f9fa;
  }
  
