@import 'themes.scss';
@import 'fonts.scss';

:root {
    --light-grey: #ebebeb;
    --warm-grey: #979191;
    --blue-pave: #1f66f1;
    --navy-pave: #0d2a76;
    --black: #000000;
    --grey-text-color: #333333;
    --error-text-color: darkred;
}

body {
    background-color: #f8f9fa;
}

html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}
